body {
    background-color: #343434;
    color: #fff;
}

/**
#heading1 {
    margin: 1rem;
    background-color: aqua;
}

.text {
    background-color: azure;
}

.divs {
    height: 5rem;
    width: 6rem;
    text-align: center;
    margin: 3rem;
    border: 2px solid black;
}

.p1 {
    background-color: red;
    color: yellow;
}
.p2 {
    background-color: #a43ace;
}

.dark {
    background-color: #343434;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #000;
} */

/*@ DOM Assign, Q8 */

/* .table {
    border: 2px solid #000;
    margin: 10px;
    border-collapse: collapse;
}

td {
    padding: 20px;
    border: 2px solid #000;
} */

/*@ DOM Assign, Q9 */

/**
#colorBox {
    height: 15rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: auto;
} */

/*@ DOM Assign, Q10 */

/* .highlight {
    background-color: #ff778e;
    color: #000;
}

.normal {
    background-color: #343434;
    color: #fff;
} */
