#heading1 {
  margin: 1rem;
  background-color: aqua;
}

.text {
  background-color: azure;
}

.divs {
  height: 5rem;
  width: 6rem;
  text-align: center;
  margin: 3rem;
  border: 2px solid black;
}

.p1 {
  background-color: red;
  color: yellow;
}
.p2 {
  background-color: blue;
}

.dark {
  background-color: #343434;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}
