/*@ Universal */
* {
  border: 0;
  border: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*@ Nav Bar */
#navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #111921;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}

/* &Nav Bar Boxes Border Transition */
.navbar-hover-border {
  border: 1px solid transparent;
  padding: 5px;
  transition: border-color 1s;
}
.navbar-hover-border:hover {
  border-color: #ffffff;
}
/* &Amazon Logo */
#amazon-logo {
  height: 45px;
}

/* & Location Box */

#location-div {
  height: 3rem;
  width: 15rem;
  padding: 0;
}

.navbar-location {
  color: #ffffff;
}
#location-p1 {
  font-size: 0.85rem;
  color: #a5abb1;
  margin-left: 4px;
}
#location-p2 {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 4px;
}

#map-pin {
  height: 19px;
  display: flex;
  align-self: center;
}
#location-a {
  display: flex;
  text-decoration: none;
}
#location-p {
  color: #ffffff;
}

/* & Search Div */
#search-div {
  width: 600px;
  border: border-box;
  border-radius: 4px;
  display: flex;
  background-color: #111921;
  transition: border 10ms;
}
#search-div:hover {
  border: 2px solid #da9008;
}
.search-elements {
  margin-left: 0;
  margin-right: 0;
  border: none;
  height: 33.33px;
}
#Category-dropdown {
  width: 50px;
  text-align: center;
  background-color: #f3f3f3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#Category-dropdown:focus {
  overflow-y: scroll;
}
#select-All {
  text-align: center;
}
.dropdown-options {
  text-align: left;
}
#search-amazon {
  border: 0;
  width: 100%;
  font-size: larger;
}

#search-icon-button {
  padding: 0;
  margin: 0;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#searchimage {
  background-color: #ffba39;
  padding: 10px;
  width: 35px;
  height: max-content;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* & Language Div */
.language-div {
  height: 33.33px;
  width: 54.38px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.language-div-elements {
  margin-left: 3px;
  margin-right: 3px;
}
#language-div-a {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
}
#india-flag {
  height: 16.2px;
  width: 21px;
}
#language-select {
  align-self: center;
  padding-bottom: 4px;
}
.navbar-bold {
  height: 15px;
  width: 18px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
.caret-down {
  height: 10px;
  align-self: flex-end;
  padding-bottom: 2px;
  margin-left: 3px;
}

/*& Sign-In-Div */

#sign-in-anchor {
  height: 2.2rem;
  width: 131px;
  display: block;
  margin-left: 18px;
  text-decoration: none;
  color: #ffffff;
  padding: 6px;
}

.nav-bar-light-font {
  font-size: 0.8rem;
}
.nav-bar-bold-font {
  font-size: 0.9rem;
  font-weight: 700;
}

.caret-down-sign-in {
  padding-top: 5px;
}

/* & Returns & Orders Box */
#orders-box {
  text-align: left;
  height: 2.2rem;
  width: 4.3rem;
  padding: 6px;
  text-decoration: none;
  color: #ffffff;
}

/*& Cart Box */

#cart-box-anchor {
  height: 2.5rem;
  width: 3.8rem;
  padding: 6px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
}
#cart-icon {
  height: 2rem;
}
#cart-p {
  width: fit-content;
  align-self: flex-end;
}

/*@ Menu Panel */
#menu-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 60px;
  height: 2.4rem;
  width: 100%;
  background-color: #1e2f3e;
}
.menu-panel-elements {
  color: #ffffff;
  text-decoration: none;
}
.display-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.panel-font {
  font-size: 0.9rem;
  font-weight: 500;
}

/*& All-Option */

#menu-all-a {
  height: 1.7rem;
  width: 2.7rem;
  margin-left: 10px;
  align-items: center;
  padding: 0;
}

#menu-icon {
  height: 1.4rem;
}
#menu-option {
  font-weight: 700;
}

/*& Amazon-Fresh_Option */
#menu-fresh-a {
  padding: 3px;
}
.caret-down-fresh {
  align-self: center;
  padding-top: 6px;
}

#mini-tv-ad {
  height: 1.5rem;
}

/*@ Background Image */
#hero-section {
  height: 30rem;
  width: 100%;
  background-image: url("./Assets/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top 5.8rem;
  z-index: 1;
}

/*@ Shop Section */
#shop-section {
  height: auto;
  width: 100%;
  position: absolute;
  top: 24rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #ad724a;
}

.shop-section-div {
  height: 25rem;
  width: 18rem;
  z-index: 1.9;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  padding: 1rem;
}

.shop-section-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.shop-section-img-p {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10rem;
  width: 7.6rem;
  padding: 1rem 1rem 1rem 0rem;
}
.card-headings {
  justify-content: flex-start;
  width: 100%;
}
.card-images {
  width: 7.6rem;
  height: 7.6rem;
}
.image-description {
  font-size: 0.9rem;
  height: 2.2rem;
  width: fit-content;
}
.large-description {
  font-size: 0.7rem;
}
