.suggested-recipe-container {
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}
.suggested-recipe-article {
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-article ul {
    padding-left: 1.1rem;
}
.suggested-recipe-article ul li {
    margin-bottom: 0.5rem;
    list-style-type: disc;
}
.suggested-recipe-article ol {
    padding-left: 1.1rem;
}
.suggested-recipe-article ol li {
    margin-bottom: 0.5rem;
    list-style-type: decimal;
}

.suggested-recipe-article strong {
    font-size: 1.5rem;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.suggested-recipe-article > h1 {
    font-size: 1.7rem;
    font-weight: 800;
    display: block;
    color: #0c4294;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.suggested-recipe-article > h2 {
    font-size: 1.3rem;
    font-weight: 800;
    display: block;
    color: #0c4294;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.suggested-recipe-article > h3 {
    font-size: 1.1rem;
    font-weight: 800;
    display: block;
    color: #0c4294;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.suggested-recipe-article > h4 {
    font-size: 1rem;
    font-weight: 800;
    display: block;
    color: #0c4294;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.suggested-recipe-article > h5 {
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    color: #0c4294;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.suggested-recipe-article > h6 {
    font-size: 0.7rem;
    font-weight: 600;
    display: block;
    color: #0c4294;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
