@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    height: 100%;
}

@theme {
    --animate-spin-slow: spin 3s linear infinite;
    --animate-fade-in: fadeIn 0.5s ease-in-out;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
